.app-shell-header, .app-shell-header-logo, .app-shell-header-account,
.app-shell-header-search, .app-shell-main, .app-shell-main-nav,
.app-shell-main-content, .app-shell-footer, .app-shell-modal {
  position: absolute;
}

.app-shell-header {
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.app-shell-header-logo {
  top: 4px;
  left: 8px;
  height: 32px;
  width: 128px;

  h1 {
    font : 800 22px/22px Arial, Helvetica, sans-serif;
    margin : 0;
  }

  p {
    font : 800 10px/10px Arial, Helvetica, sans-serif;
    margin: 0;
  }
}

.app-shell-header-account {
  top: 4px;
  right: 0;
  width: 210px;
  height: 32px;
  line-height: 32px;
  background: #888;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-shell-header-search {
  top: 4px;
  right: 64px;
  width: 248px;
  height: 32px;
  background: #0000ff;
}

.app-shell-main {
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
}

.app-shell-main-content, .app-shell-main-nav {
  top: 0;
  bottom: 0;
}

.app-shell-main-nav {
  width: 400px;
  background: #eeeeee;
  z-index: 1;
}

.app-x-closed .app-shell-main-nav {
  width: 0;
}

.app-shell-main-content {
  left: 400px;
  right: 0;
  background: #dddddd;
}

.app-x-closed .app-shell-main-content {
  left: 0;
}

.app-shell-footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.app-shell-modal {
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 2;
  display: none;
}