@import "modules/app";
@import "modules/shell";
@import "modules/chat";
@import "modules/avatar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 6pt;
}

ol, ul, dl {
  list-style-position: inside;
}

body {
  font: 10pt 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
  color: #444444;
  background-color: #888888;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: 800;
  color: #000000;
}

.clearfix {
  height: 0 !important;
  float: none !important;
  visibility: hidden !important;
  clear: both !important;
}

input, textarea, .app-x-user-select {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -ms-user-select: text;
  user-select: text;
}