#app {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0 8px 0 8px;
}